.login-form{
   padding-top: 30px;
   padding-left: 18px;
    padding-right: 18px;
   text-align: center;
}
.mat-card{
    width: 300px;
    height: 281px;
}

.card-width{
    width: 100%;
}
/* mat-spinner svg{
    width: 10px !important;
    height: 10px !important;
 } */

 .md-spinner-size svg{
    width: 10px !important;
    height: 10px !important;
    margin: 5px 10px 0px 0px;
  }