<section class="current-training  row align-items-center">
    <div class="col col-md-4 offset-md-4">
        <div class="col col-md-7 offset-md-2">
            <h1 style="color:#00E5FF
            "> {{currentRunningTraining?.name}} </h1>
        </div>
        <div class="col offset-3 offset-md-4">

            <mat-progress-spinner mode="determinate" [value]="progress"></mat-progress-spinner>
        </div>
    
    </div>
    <div class=" col-md-4 offset-md-4">

        <h1>Your current progress {{progress}}  </h1>
        <P>Keep on going, you can do it!</P>
        <button type="submit" mat-raised-button color="accent" (click)="onStop()">Stop </button>
    </div>
</section>