  <mat-toolbar color='primary'>
            <div class="    " >
                <button mat-icon-button (click)="onSidenavToggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div  routerLink="/" class="color">Fitness Tracker</div>
             <div class="width row  justify-content-end">

                
                <button  class="col-1 float-right" *ngIf="!(isAuth$ |async)" mat-button mat-menu-item routerLink="auth/signup" [routerLinkActive]="['active']">Sign Up</button>
                <button class="col-1 float-right" *ngIf="!(isAuth$ |async)" mat-button mat-menu-item routerLink="auth/login" [routerLinkActive]="['active']">Login</button>
                <button class="col-1 float-right" *ngIf="isAuth$ |async"  mat-button mat-menu-item routerLink="training" [routerLinkActive]="['active']">Training</button>
                <button class="col-1 float-right" *ngIf="isAuth$ |async"  (click)="logout()" mat-button mat-menu-item >Logout</button>
             
            </div>

        </mat-toolbar>