<mat-sidenav-container>

    <mat-sidenav #sidenav role="navigation">
        <div class="text-center text-danger">

            <h1>Fitness Tracker</h1>
        </div>
       <app-side-nav-list (onCloseSidenav)='sidenav.close()'></app-side-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <app-header (sidenavToggle)='sidenav.toggle()' ></app-header>
        <main  class="col-12">

            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>

</mat-sidenav-container>