.spacing{
    padding-left: 15px;
}

mat-sidenav-container, mat-sidenave-content , mat-sidenav{
    height: 100%;
}
mat-sidenav{
    width: 250px;
    padding: 10px;
}


.bg-img{
    background: url(../assets/imges/1571485195_164961-1536x864.jpg) ; 
    background-repeat: no-repeat;
    background-size: auto;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
   opacity: 0.5;
}
 